.container__not-found {
  background: url('../../img/pngeg.png') no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
  min-width: 850px;
  min-height: 800px;
}

.not-found {
  margin: 0 auto;
  padding-top: 120px;
  text-align: center;
  max-width: 700px;
  line-height: normal;
  font-weight: bold;
  color: #333333;
}

.not-found__title {
  margin: 24px 0 8px;
  padding: 0;
  font-size: 114px;
  text-shadow:
    0 0 0.6px #333333,
    0 0 0.1em #525288,
    0 0 0.1em rgba(243, 243, 247, 0.64);
}

.not-found__text {
  margin: 0;
  padding: 0;
  margin-bottom: 72px;
  text-transform: uppercase;
  font-size: 30px;
  color: #333333;
}

.not-found__description {
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  font-size: 18px;
  color: #333333;
}

.not-found__button {
  background-color: #333333;
  color: #ffffff;
  padding: 12px 32px 12px;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 18px;
  border: 1px solid rgba(151, 150, 150, 0.8);
  box-shadow: 0 0 4px 1px rgb(114, 107, 158);
  cursor: pointer;
  border-radius: 8px;
}

.not-found__button:hover {
  background-color: #777777;
}

.not-found__button:active {
  background-color: #222222;
}
